nav li {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

nav.navbar {
    padding: 0 15px;
    background: linear-gradient(90deg, #81a880, #004f44);
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    color: #004f44;
}

.nav-link{
    font-size: 2rem;
    padding: 0;
    color: white;
    transition: all 0.3s;
}

#sair {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}

#sair:hover {
    color: red;
}

#sair abbr {
    cursor: pointer;
}

#sair span {
    font-size: 2rem;
}

.log {
    display: flex;
    align-items: baseline;
}

.user {
    font-size: 3rem;
    color: white;
    margin-left: 10px;
}

#nomeUsuario {
    font-size: 2rem;
    color: white;
}

.nav-link:hover {
    color: black;
}

.navbar-brand:hover {
    color: #004f44;
}

.navbar-brand:visited {
    color: #004f44;
}

.dropdown-item {
    background-color: #004f44;
    color: white;
}

.dropdown-menu {
    padding: 0;
}

#offcanvasDarkNavbar {
    width: 30%;
}

@media screen and (max-width: 768px) {
    #offcanvasDarkNavbar {
        width: 65%;
    }

    a.dropdown-item {
        font-size: 20px;
    }

    nav li {
        font-size: 25px;
    }
}