body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #81a880, #004f44);
}

.container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

h2 {
    color: white;
}

.postagens {
    margin: 25px 10px;
    width: 100%;
    column-count: 5;
    column-gap: 25px;
}

@keyframes appear {
    from {
        opacity: 0.2;
        transform: translatex(-50px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.post {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    background-color: red;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.lixeira {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 3rem;
    opacity: 0;
    transition: all 0.3s;
}

.imgPost {
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s;
    font-weight: bold;
}

.post:hover .imgPost {
    transform: scale(110%);
    opacity: 90%;
    filter: blur(2px);
}

.post:hover .lixeira {
    opacity: 90%;
}

.voltar {
    z-index: 99;
    position: fixed;
    top: 2%;
    left: 2%;
    background-color: #004f44;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.voltar:hover {
    background: #004f44;
    color: white;
}

@media screen and (max-width:768px){
    .postagens {
        column-count: 2;
        column-gap: 25px;
    }
}
