    body{
        height: 100vh;
        margin: 0;
        padding: 0;
        background: linear-gradient(90deg, #81a880, #004f44);
    }

    option {
        color: black;
    }

    p {
        color: white;
    }

    .h4 {
        color: white;
    }

    .form-container {
        height: 100%;
        /* altr ctnr */
    }

    .font-abril {
        font-family: 'Abril Fatface', cursive;
        /* font */
    }

    .title-ifshare {
        font-size: 5rem;
        /* Tamanho da fonte maior */
        margin-bottom: 0;
        /* Espaçamento entre IFSHARE e Crie*/
        color: white;
        /* Cor do ifshare */
    }

    .btn-custom {
        background-color: #004f44;
        /* cor de fundo*/
        color: white;
        /* cor do texto */
        border: none;
        /* remove borda padrao */
        border-radius: 30px;
        /* arredonda */
        padding: 5px 20px;
        /* espacamento interno */
        font-size: 18px;
        /* ajusta o tamanho e peso da fonte */
        font-weight: bold;
        /* II */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* Sombra pra dar porfundidade */
        transition: background-color 0.3s, transform 0.3s;
        /* transicao */
    }

    .btn-custom:hover {
        background-color: #81a880;
        /* cor com o mauser */
        transform: scale(1.05);
        /* aumenta o botao */
    }

    .form-control,
    .form-select {
        border-radius: 8px;
        /* Bordas arredondadas */
        border: 1px solid white;
        /* Cor da borda */
        padding: 8px;
        /* Reduzir o padding interno para diminuir a altura */
        font-size: 14px;
        /* Diminuir o tamanho da fonte */
        line-height: 1.2;
        /* Reduzir o espaçamento entre linhas */
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        /* Sombra interna */
        transition: border-color 0.3s, box-shadow 0.3s;
        /* Transição suave */
        height: 30px;
        /* Definir uma altura fixa */
        background-color: transparent;
        /* Cor de fundo para combinar com o site */
        color: white;
        /* Cor do texto */
    }

    .form-control:focus,
    .form-select:focus {
        background-color: transparent;
        /* Manter o fundo transparente ao foco */
        border-color: #fff;
        /* Borda preta ao foco */
        outline: none;
        /* Remove o contorno padrão */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        /* Sombra externa ao foco */
    }

    .form-label {
        font-size: 16px;
        /* Tamanho da fonte */
        color: white;
        /* Cor do texto */
        margin-bottom: 4px;
        /* Espaço abaixo do rótulo */
    }