@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    background: linear-gradient(90deg, #81a880, #004f44);
}

h1 {
    color: #004f44;
    font-weight: bold;
    font-size: 50px;
}

#myToast {
    background-color: #004f44; /* Fundo principal verde */
    color: #ffffff; /* Texto branco */
    border: 2px solid #81a880; /* Borda verde escuro */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

#myToast .toast-header {
    background-color: #81a880; /* Verde mais escuro para o cabeçalho */
    color: #004f44; /* Texto branco */
    font-weight: bold; /* Negrito no título */
    border-bottom: 1px solid #004f44;
}


#myToast .toast-body {
    font-size: 1rem; /* Tamanho da fonte */
    padding: 1rem; /* Espaçamento interno */
    text-align: justify; /* Alinha o texto */
}

#myToast .mt-2.pt-2.border-top {
    border-top: 1px solid #388E3C; /* Linha divisória verde */
    padding-top: 0.5rem; /* Espaçamento no topo */
}

#myToast .msgToast {
    font-size: 1rem;
    padding: 7px;
    border-radius: 10px;
    background: transparent; /* Fundo verde escuro */
    border-color: #81a880; /* Borda combinando */
    color: #ffffff; /* Texto branco */
    border: 2px solid #81a880;
}

#myToast .msgToast:hover {
    font-size: 1rem;
    padding: 7px;
    border-radius: 10px;
    background: #81a880; /* Fundo verde escuro */
    border-color: #81a880; /* Borda combinando */
    color: #004f44; /* Texto branco */
}

.perfis {
    width: 50%;
    border-bottom: 5px solid #004f44;
    padding-bottom: 5px;
}

.perfil {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0;
}


.fotoPerfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgb(172, 172, 172) !important;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.fotoPerfil:hover {
    box-shadow: 0 0 10px 5px #81a880;
}

.fotoPerfil img {
    text-align: center;
    width: 100%;
    border-radius: 50%;
}

.arrow-up {
    z-index: 99;
    position: fixed;
    bottom: 3%;
    right: 3%;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 2rem;
    background-color: #81a880;
    color:white;
    opacity: 0; /* Inicialmente invisível */
    visibility: hidden; /* Elemento não é clicável nem exibido */
    transition: all 0.3s ease; /* Animação suave */
}

.arrow-up.show {
    opacity: 1;
    visibility: visible;
}

.arrow-up a {
    color: white;
}

@media screen and (max-width:768px){
    .logo {
        display: none;
    }
}