body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #004f44;
    font-family: Arial, sans-serif; /* Fonte mais limpa */
}

h3.text-center {
    color: white;
    margin: 20px 0; /* Espaço em cima e embaixo do título */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* Sombra do título */
}

/* Centraliza a tabela na página */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px; /* Distância do título da tabela */
}

/* Estilização dos botões */
.btn-success, .btn-primary, .btn-danger {
    padding: 10px 20px; /* Aumenta o padding dos botões */
    border-radius: 30px; /* Cantos arredondados nos botões */
    font-size: 16px; /* Tamanho da fonte dos botões */
    font-weight: bold; /* Texto em negrito */
    transition: background-color 0.3s, transform 0.3s; /* Transição para hover */
}

.btn-success {
    border: none;
    border: 2px solid #81a880; /* Cor padrão para o botão Inserir */
    background: none;
    color: white;
}

.btn-success:hover {
    border: 2px solid #81a880;
    color: black;
    background-color: #81a880; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho */
}

.btn-primary {
    background-color: #0056b3; /* Cor padrão para botões de alteração */
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #004494; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho */
}

.btn-danger {
    background-color: #dc3545; /* Cor padrão para botões de exclusão */
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no tamanho */
}

.voltar {
    position: fixed;
    top: 2%;
    left: 2%;
    background-color: none;
    color: #fff;
    border: 2px solid #81a880; 
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.voltar:hover {
    background-color: #81a880;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Eleva o card levemente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra mais intensa */
    filter: brightness(80%);
}



.box-search {
    max-width: 400px;
    margin: 0 auto; /* Centraliza o campo na página */
    position: relative;
}

#pesquisar {
    border-radius: 20px 0 0 20px; /* Bordas arredondadas na esquerda */
    border: none; /* Cor da borda ao focar */
    padding: 10px 15px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#pesquisar:focus {
    border-color: #0056b3; /* Cor da borda ao focar */
    box-shadow: 0 0 8px rgba(0, 91, 187, 0.5); /* Sombra ao focar */
}

.btn-search {
    border-radius: 0 20px 20px 0; /* Bordas arredondadas na direita */
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-search svg {
    fill: white; /* Ícone na cor branca */
}

.btn-search:hover {
    background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
    transform: scale(1.05); /* Efeito de leve aumento */
}


.insertBtn {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 10%;
}

.naoVerificados {
    position: absolute;
    top: 1%;
    left: 2%;
    width: 20%;
}