body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #81a880, #004f44);
    font-family: Arial, sans-serif; /* Fonte mais limpa */
}



h3.text-center {
    color: white;
    margin: 20px 0; /* Espaço em cima e embaixo do título */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* Sombra do título */
}

/* Centraliza a tabela na página */
.container-list {
    margin: 40px 0 25px 18%;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: all .5s ease-out;
}

.container-list.sidebar-open {
    margin-left: 18%;
    width: 80%;
}

.container-list.sidebar-closed {
    margin-left: 6%;
    width: 93%;
}

.btn-success, .btn-primary, .btn-danger {
    padding: 10px 20px; 
    border-radius: 30px; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s, transform 0.3s; 
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Eleva o card levemente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra mais intensa */
}

.insertBtn {
    display: block;
    width: fit-content;
    background-color: #004f44;
    border: none;
}

.naoVerificados {
    text-align: center;
    margin: 0;
    border: none;
    background-color: #004f44;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 12px 20px;
    transition: all 0.3s;
    font-weight: bold;
}

.naoVerificados:hover {
    color: white;
    transform: scale(112%);
}

.btn-verify a:first-child {
    color: white;
    font-size: 1rem;
    padding: 10px 10px;
    background-color: blue;
}

.btn-verify a:last-child {
    background-color: orangered;
    color: white;
    font-size: 1rem;
    padding: 10px 10px;
}

.solution {
    justify-content: center;
    width: 100%;
}

#inp-solution {
    width: 100%;
    border: none;
    border-bottom: 3px solid #004f44;
}

#inp-solution::placeholder {
    font-weight: bold;
    text-align: center;
}

#inp-solution:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #81a880;
}
