    .font-abril {
        font-family: 'Abril Fatface', cursive; /* Fonte personalizada */
    }
    .title-ifshare {
        font-size: 4rem; /* Ajuste o tamanho da fonte conforme necessário */
        color: #000; /* Cor desejada */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra do texto */
        margin-bottom: 2px;
    }

    .texto-login {
        font-family: 'Arial', sans-serif; /* Fonte mais simples e elegante */
        font-size: 1rem; /* Tamanho do texto ajustado */
        color: #333; /* Cor escura para contraste com o fundo claro */
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Sombra sutil */
        letter-spacing: 0.5px; /* Espaçamento entre letras */
        line-height: 1.4; /* Espaçamento entre linhas */
        margin-bottom: 10px; /* Espaço abaixo do texto */
    }

    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        background: linear-gradient(90deg, #81a880, #004f44);
    }

    .form-container {
        height: 100vh; /* altura da tela inteira */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-content {
        background-color: #fff; /* Cor de fundo do formulário */
        border-radius: 8px; /* Bordas arredondadas */
        padding: 20px; /* Espaçamento interno */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
        max-width: 400px; /* Largura máxima do formulário */
        width: 100%; /* Largura total dentro do máximo */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
    } 

    .btn-custom {
        background-color: #004f44; /* Cor de fundo */
        color: #fff; /* Cor do texto */
        border: none; /* Remove a borda padrão */
        border-radius: 30px; /* Bordas arredondadas */
        padding: 10px 20px; /* Espaçamento interno */
        font-size: 16px; /* Tamanho da fonte */
        font-weight: bold; /* Peso da fonte */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
        transition: background-color 0.3s, transform 0.3s; /* Transição */
    }

    .btn-custom:hover {
        background-color: #81a880; /* Cor do botão ao passar o mouse */
        transform: scale(1.05); /* Aumenta o botão */
    }

    .form-control, .form-select {
        border-radius: 8px; /* Bordas arredondadas */
        border: 1px solid #000; /* Cor da borda */
        padding: 8px; /* Reduzir o padding interno para diminuir a altura */
        font-size: 14px; /* Diminuir o tamanho da fonte */
        line-height: 1.2; /* Reduzir o espaçamento entre linhas */
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra interna */
        transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
        height: 30px; /* Definir uma altura fixa */
        background-color: transparent; /* Cor de fundo para combinar com o site */
        color: #000; /* Cor do texto */
    }
   
    .form-content:hover {
        transform: scale(1.05); /* Aumenta o tamanho do formulário */
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
    }

    .form-control:focus, .form-select:focus {
        background-color: transparent; /* Manter o fundo transparente ao foco */
        border-color: #fff; /* Borda branca ao foco */
        outline: none; /* Remove o contorno padrão */
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra externa ao foco */
    }

        /* Mensagens de erro */
    .text-danger {
        color: #d9534f; /* Cor vermelha para o texto */
        font-size: 16px; /* Tamanho da fonte igual ao das labels */
        font-weight: 400; /* Peso da fonte */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        margin-bottom: 0; /* Remove margem adicional */
    }

        /* Campos de entrada com contorno vermelho */
    .form-control.error {
        border: 1px solid #d9534f; /* Contorno vermelho */
        box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.2); /* Sombra ao redor do campo */
        background-color: transparent; /* Fundo transparente para combinação com o site */
    }

    /* Adicionar classe "error" ao input para destacar */
    .form-control.error:focus {
        border-color: #d9534f; /* Contorno vermelho ao focar */
        box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.3); /* Sombra mais pronunciada ao focar */
    }
   