/*.font-abril {
    font-family: 'Abril Fatface', cursive; /* Fonte personalizada */
/*}
*/
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #81a880, #004f44);
}

.title-ifshare {
    font-size: 4rem; /* Ajuste o tamanho da fonte conforme necessário */
    color: black; /* Cor desejada */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra do texto */
    margin-bottom: 2px;
}

.texto-login {
    font-family: 'Arial', sans-serif; /* Fonte mais simples e elegante */
    font-size: 1rem; /* Tamanho do texto ajustado */
    color: black; /* Cor escura para contraste com o fundo claro */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    letter-spacing: 0.5px; /* Espaçamento entre letras */
    line-height: 1.4; /* Espaçamento entre linhas */
    margin-bottom: 5px; /* Espaço abaixo do texto */
    margin-top: 7px;
}


.form-container {
    height: 100vh; /* altura da tela inteira */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    background-color: white; /* Cor de fundo do formulário */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    max-width: 400px; /* Largura máxima do formulário */
    width: 100%; /* Largura total dentro do máximo */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
    color: black;
} 

.btn-custom {
    background-color: #004f44;
    color: #fff;
    border: none; 
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.voltar {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: #004f44;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.voltar:hover {
    background: #004f44;
    color: white;
}

.btn-custom:hover {
    color: black;
    background-color: #81a880;
    transform: scale(1.05);
}

.form-control {
    color: black; /* Cor do texto */
    border-radius: 8px; /* Bordas arredondadas */
    border: 2px solid #004f44; /* Cor da borda */
    padding: 8px; /* Reduzir o padding interno para diminuir a altura */
    font-size: 14px; /* Diminuir o tamanho da fonte */
    line-height: 1.2; /* Reduzir o espaçamento entre linhas */
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Sombra interna */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave */
    height: 30px; /* Definir uma altura fixa */
    background-color: transparent; /* Cor de fundo para combinar com o site */
    cursor: default;
}

.form-control::placeholder {
    color: black;
}


.form-content:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.form-control:focus, .form-select:focus {
    color: black;
    background-color: transparent; /* Manter o fundo transparente ao foco */
    border-color: #81a880; /* Borda branca ao foco */
    outline: none; /* Remove o contorno padrão */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra externa ao foco */
}

    /* Mensagens de erro */
.text-danger {
    color: #d9534f; /* Cor vermelha para o texto */
    font-size: 16px; /* Tamanho da fonte igual ao das labels */
    font-weight: 400; /* Peso da fonte */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-bottom: 0; /* Remove margem adicional */
}

    /* Campos de entrada com contorno vermelho */
.form-control.error {
    border: 2px solid #d9534f; /* Contorno vermelho */
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.2); /* Sombra ao redor do campo */
    background-color: transparent; /* Fundo transparente para combinação com o site */
}

/* Adicionar classe "error" ao input para destacar */
.form-control.error:focus {
    border-color: #d9534f; /* Contorno vermelho ao focar */
    box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.3); /* Sombra mais pronunciada ao focar */
}

@media screen and (max-width:768px) {

    .logo {
        width: 60%;
    }
    
}