.topBar {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(90deg, #81a880, #004f44, #002923, #002923);
    background-size: 300%;
    background-position: 0%;
    transition: all 1.4s ease-out;    
    width: 100%;
    user-select: none;
}

.boxTopBar {
    margin-left: 17%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all .5s ease-out;
}

.sidebar-closed .boxTopBar {
    margin-left: 60px;
}

.sidebar-open .topBar {
    width: 100%;
}


.box-search {
    width: 40%;
    margin: 0 auto; /* Centraliza o campo na página */
}

.rightElements {
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    right: 20px; /* Alinha os elementos no canto direito */
}

.leftElements {
    position: absolute;
    left: 75px; /* Alinha os elementos no canto direito */
}

.filter-box {
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: white;
}

.filter-box .selectFilter {
    text-align: center;
    background-color: #004f44;
    color: white;
    border-radius: 20px; /* Bordas arredondadas na esquerda */
    appearance: none; /* Remove a seta padrão do select */
    border: none; /* Cor da borda ao focar */
    padding: 10px 15px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.filter-box.selectFilter option{
    text-align: left;
    border: none;
    background-color: #004f44;
    color: white;
}

.selectFilter option.active {
    background-color: #81a880;
}


.fotoPerfilTop:hover {
    box-shadow: 0 0 10px 5px #81a880;
}

.fotoPerfilTop img {
    text-align: center;
    width: 100%;
    border-radius: 50%;
}


.fotoPerfilTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(172, 172, 172) !important;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

#pesquisar {
    background-color: #004f4552;
    color: white;
    border-radius: 20px 0 0 20px; /* Bordas arredondadas na esquerda */
    border: none; /* Cor da borda ao focar */
    padding: 10px 15px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#pesquisar::placeholder {
    color: white;
}

#pesquisar:focus {
    border-color: #0056b3; /* Cor da borda ao focar */
    box-shadow: 0 0 8px #81a880; /* Sombra ao focar */
}

.btn-search {
    background-color: #004f44;
    color: white;
    border-radius: 0 20px 20px 0; /* Bordas arredondadas na direita */
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}
.btn-search svg {
    fill: white; /* Ícone na cor branca */
}

.btn-search:hover {
    background-color: #81a880; /* Tom mais escuro ao passar o mouse */
    transform: scale(1.05); /* Efeito de leve aumento */
}

.btn-search:active {
    background-color: #004f44;
}

.voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004f44;
    color: white;
    border-radius: 30px;
    margin: auto;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.voltar:hover {
    background: #004f44;
    color: white;
}


@media screen and (max-width: 768px) {

    .boxTopBar {
        margin-left: 0;
        padding: 0 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all .5s ease-out;
    }

    .box-search {
        width: 50%;
        margin: 0 0 0 auto; 
        position: relative;
        display: flex;
    }

    .leftElements {
        width: 50%;
        margin-right: 0;
        position: absolute;
        left: 0;
    }
    
    #pesquisar {
        background-color: #004f4552;
        color: white;
        border-radius: 20px 0 0 20px; /* Bordas arredondadas na esquerda */
        border: none; /* Cor da borda ao focar */
        padding: 10px 15px;
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
    
    #pesquisar::placeholder {
        color: white;
    }
    
    #pesquisar:focus {
        border-color: #0056b3; /* Cor da borda ao focar */
        box-shadow: 0 0 8px #81a880; /* Sombra ao focar */
    }
    
    .btn-search {
        background-color: #004f44;
        color: white;
        border-radius: 0 20px 20px 0; /* Bordas arredondadas na direita */
        border: none;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    .btn-search svg {
        fill: white; /* Ícone na cor branca */
    }
    
    .btn-search:hover {
        background-color: #81a880; /* Tom mais escuro ao passar o mouse */
        transform: scale(1.05); /* Efeito de leve aumento */
    }
    
    .fotoPerfilTop {
        display: none;
    }

}