#toggleSidebar {
    cursor: pointer;
    user-select: none;
}

.sidebar {
    font-family: Arial, sans-serif;
    z-index: 99;
    width: 17%;
    background: #81a880;
    box-shadow: 5px 0 30px #004f44;
    border-top-right-radius: 25px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 10px;
    overflow: hidden;
    transition: width .5s ease-out;
}

.sidebar.closed {
    width: 60px;
}

.sidebar.closed .menu-item svg {
    width: 20px;
    height: 20px;
    margin: 0;
}

.sidebar.closed .menu-item .item-sidebar {
    display: none; /* Oculta o texto */
}

.sidebar.closed .brand #logo {
    width: 100%;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
}

.brand {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

.brand-link {
    text-decoration: none;
    color: inherit;
}

.menu-list {
    display: flex;
    flex-direction: column; /* Organiza os itens do menu na vertical */
    gap: 10px; 
    list-style: none;
    padding: 0;
    margin: 0;
    width: 95%;
    cursor: pointer;
}

.menu-item {
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s;
}

.menu-item:hover {
    background-color: #e7e7e7;
    color: #000;
    transform: scale(1.05);
}

.menu-item svg {
    height: 20px;
    margin-right: 7px;
    fill: white;
    transition: color 0.3s;
}

.menu-item:hover svg {
    fill: #004f44;
}

.menu-item.active{
    background-color: #e7e7e7;
    color: #000;
    transform: scale(1.05);
}

.menu-item.active svg{
    fill: #004f44;
}

button {
    border: none;
    background: none;
}

.notif {
    position: absolute;
    top: 0;
    font-size: 12px;
    background-color: white !important;
    color: black;
}

#logout-item:hover a svg {
    fill: red;
}

#theme-switch {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#theme-switch svg {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 768px) {
    
    .sidebar{
        font-family: Arial, sans-serif;
        z-index: 99;
        width: 100vw;
        background: #81a880;
        box-shadow: none;
        height: 80px;
        display: flex;
        padding: 20px 10px;
    }
    
    .sidebar {
        transition: width 0.3s ease-in-out;
        overflow: hidden;
    }
    
    .sidebar.closed {
        all: unset;
    }
    
    .sidebar.closed .menu-item .item-sidebar {
        display: none;
    }
    
    .sidebar.closed .brand #logo {
        all: unset;
    }
    
    .menu-toggle {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        margin: 10px;
    }
    
    .brand {
        display: none;
    }
    
    .brand-link {
        text-decoration: none;
        color: inherit;
    }
    
    .menu-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px; 
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        cursor: pointer;
        position: fixed;
        bottom: 0;
        z-index: 99;
        background-color: #81a880;
        height: 50px;
    }
    
    .menu-item {
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        display: flex;
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        transition: all 0.3s;
    }
    
    .menu-item:hover {
        background-color: #e7e7e7;
        color: #000;
        transform: scale(1.05);
    }
    
    .menu-item i {
        font-size: unset;
        margin-right: 0;
        color: white;
        transition: color 0.3s;
    }
    
    .menu-item:hover i {
        color: #004f44;
    }
    
    .menu-item.active {
        background-color: #e7e7e7;
        color: #000;
        transform: scale(1.05);
    }
    
    .menu-item.active i {
        color: #004f44;
    }
    
    button {
        border: none;
        background: none;
    }
    
    .notif {
        position: absolute;
        top: 2px;
        font-size: 10px;
        background-color: #004f44;
    }
    
    #logout-item:hover a i {
        color: red !important;
    }
}