nav li {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#navbarSupportedContent {
    display: flex;
    justify-content: space-between;
}

nav.navbar {
    padding: 0 15px;
    background: linear-gradient(90deg, #81a880, #004f44);
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    color: #004f44;
}

.nav-link{
    font-size: 2rem;
    padding: 0;
    color: white;
    transition: all 0.3s;
}

#sair {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}

#sair:hover {
    color: red;
}

#sair abbr {
    cursor: pointer;
}

#sair span {
    font-size: 2rem;
}

.log {
    display: flex;
    align-items: baseline;
}

.user {
    font-size: 3rem;
    color: white;
    margin-left: 10px;
}

#nomeUsuario {
    font-size: 2rem;
    color: white;
}

.nav-link:hover {
    color: #004f44;
}

.navbar-brand:hover {
    color: #004f44;
}

.navbar-brand:visited {
    color: #004f44;
}

.dropdown-item {
    background-color: #004f44;
    color: white;
}

.dropdown-menu {
    padding: 0;
}

#offcanvasDarkNavbar {
    width: 30%;
}

.notif {
    position: absolute;
    top: 0;
    font-size: 17px;
    background-color: #004f44;
}

#notifList {
    top: 5%;
    background-color: white;
    color: #004f44;
}

.box-search {
    width: 50%;
    margin: 0 auto; /* Centraliza o campo na página */
    position: relative;
}

#pesquisar {
    border-radius: 20px 0 0 20px; /* Bordas arredondadas na esquerda */
    border: none; /* Cor da borda ao focar */
    padding: 10px 15px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#pesquisar:focus {
    border-color: #0056b3; /* Cor da borda ao focar */
    box-shadow: 0 0 8px rgba(0, 91, 187, 0.5); /* Sombra ao focar */
}

.btn-search {
    border-radius: 0 20px 20px 0; /* Bordas arredondadas na direita */
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-search svg {
    fill: white; /* Ícone na cor branca */
}

.btn-search:hover {
    background-color: #0056b3; /* Tom mais escuro ao passar o mouse */
    transform: scale(1.05); /* Efeito de leve aumento */
}


@media screen and (max-width: 768px) {
    #offcanvasDarkNavbar {
        width: 65%;
    }

    a.dropdown-item {
        font-size: 20px;
    }

    nav li {
        font-size: 25px;
    }
}