nav li {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .offcanvas {
        width: 75%; /* Define a largura do offcanvas */
    }

    .offcanvas-body {
        padding: 10px; /* Reduz o padding para telas menores */
    }

    .offcanvas-header h5 {
        font-size: 1.2rem; /* Ajusta o tamanho do título no header */
    }

    .nav-link {
        font-size: 1rem; /* Ajusta o tamanho das opções do menu */
    }
}

