body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #81a880, #004f44);
}

#container {
    border-radius: 20px;
    width: 80%;
    height: 100%;
    margin-left: 18%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: all .5s ease-out;
}

#container.sidebar-open {
    margin-left: 17%;
    width: 97%;
}

#container.sidebar-closed {
    margin-left: 5%;
    width: 95%;
}

.voltar {
    position: absolute;
    top: 2%;
    left: 1%;
    background-color: #004f44;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.voltar:hover {
    background: #004f44 !important;
    color: white !important;
}

.infoUser {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postsUser {
    width: 100%;
}


.nomePf h5 {
    font-size: 2rem;
    margin-top: 7px;
    color: white;
}

.bio {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    text-align: left;
}

.bio p {
    width: 50%;
    text-align: center;
}

.infos {
    width: 100%;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.infos p {
    margin: 0;
}

.postagens{
    margin-top: 15px;
    width: 100%;
    column-count: 5;
    column-gap: 25px;
}

@keyframes appear {
    from {
        opacity: 0.2;
        transform: translatex(-50px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.post {
    position: relative;
    background-color: #81a880;
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.post.placeholder {
    animation: pulse 1.5s infinite ease-in-out;
}


@keyframes pulse {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}


.imgPost {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s;
}

.imgPost:hover{
    transform: scale(110%);
    filter: brightness(80%);
}


/* Estilo personalizado para o modal */
.modal-content {
    background: none; /* Fundo claro */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    box-shadow: none !important;
    padding: 0;
    border-radius: 15px;
    background: rgb(48, 48, 48);
    border: none;
    width: 300px;
}

.btnOpt {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnOpt a {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    background-color: #004f44;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.btnOpt a:hover {
    background-color: #81a880;
    color: black;
}

.preview {
    width: 350px;
    height: 350px;
    margin: 0;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: all 0.3s;
}

.preview:hover {
    scale: 1.05;
}

#imgPreview {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#imgPreview:hover {
    width: 100%;
    border-radius: 10px;
}

.fotoPerfil {
    width: 235px;
    height: 235px;
    margin: 0;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: all 0.3s;
    box-shadow: 0 0 50px 2px #81a880;
}

.fotoPerfil.active {
    box-shadow: 0 0 70px 50px #81a880;
}

div.fotoPerfil:hover {
    transform: scale(1.05);
}

.fotoPerfil img {
    text-align: center;
    width: 100%;
    border-radius: 50%;
}

.settings {
    z-index: 101;
    position: absolute;
    top:4%;
    right: 2%;
    color: white;
    user-select: none;
}

.settings.active svg {
    animation: roda-roda .9s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes roda-roda {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.settings:hover {
    color: #81a880;
}

.settings svg {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.settings-menu {
    padding: 0;
    background-color: #81a880;
}

.settings-menu li a {
    color: white;
}

.selectTypeList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    font-family: Arial, sans-serif;
}

.selectTypeList a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.selectTypeList a span {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.selectTypeList a span svg {
    width: 20px;
    height: 20px;
}

.selectTypeList .posts,
.selectTypeList .curtidas {
    background-color: #004f44; /* Fundo padrão */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.selectTypeList .posts.active,
.selectTypeList .curtidas.active {
    background-color: #81a880; /* Fundo do ativo */
    color: #ffffff; /* Cor do texto ativo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.selectTypeList .posts.active span,
.selectTypeList .curtidas.active span {
    border-bottom: none;
    font-weight: bold;
}

.selectTypeList a:hover {
    transform: scale(1.05);
}

.selectTypeList a.active:hover {
    transform: scale(1.1);
}

.selectTypeList a span:hover {
    color: #eeeeee; /* Cor do texto ao passar o mouse */
}

.lightStatus {
    transform: rotate(180deg);
    text-align: center;
    color: white;
    transition: all 0.5s ease-out;
    z-index: 100;
    user-select: none;
}

#svgLight.active {
    color: #004f44;
}

.lightStatus svg {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.stats {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    box-shadow: 0 20px 15px #004f44;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    opacity: 1;
}

.stats.hidden {
    opacity: 0;
}

.stats-numberPosts {
    left: 50px;
    top: 150px;
}

.stats-numberComents {
    left: 50px;
    top: 260px;
}

.stats-numberLikes {
    right: 50px;
    top: 200px;
}

.totalPosts {
    color: white;
}

.verificado {
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: -10px;
    right: -22px;
    cursor: default;
    filter: brightness(200%);
}

.noPostYet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.noPostYet svg {
    width: 80px;
    height: 80px;
    color: white;
    border: 2px solid white;
    padding: 7px 17px;
    border-radius: 50%;
    margin-bottom: 7px;
}

.noPostYet svg:hover {
    background: none;
    color: white;
}