.box-search {
    width: 50%;
    margin: 0 auto; /* Centraliza o campo na página */
    position: relative;
}

#pesquisar {
    background-color: #004f4552;
    color: white;
    border-radius: 20px 0 0 20px; /* Bordas arredondadas na esquerda */
    border: none; /* Cor da borda ao focar */
    padding: 10px 15px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#pesquisar::placeholder {
    color: white;
}

#pesquisar:focus {
    border-color: #0056b3; /* Cor da borda ao focar */
    box-shadow: 0 0 8px #81a880; /* Sombra ao focar */
}

.btn-search {
    background-color: #004f44;
    color: white;
    border-radius: 0 20px 20px 0; /* Bordas arredondadas na direita */
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-search svg {
    fill: white; /* Ícone na cor branca */
}

.btn-search:hover {
    background-color: #81a880; /* Tom mais escuro ao passar o mouse */
    transform: scale(1.05); /* Efeito de leve aumento */
}


