.container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.postagens {
    margin: 60px 10px;
    width: 100%;
    column-width: 200px;
    column-gap: 25px;
}

@keyframes appear {
    from {
        opacity: 0.2;
        transform: translatex(-50px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

.post {
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 15px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.imgPost {
    width: 100%;
    border-radius: 15px;
    transition: all 0.3s;
}

.imgPost:hover{
    transform: scale(110%);
    filter: brightness(80%);
}


@media screen and (max-width:768px){

}