.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.postagem {
    display: flex;
    width: 75%;
    background-color: white;
    border-radius: 15px;
}


.postagem #legenda {
    padding: 10px;
    font-size: 25px;
}

.postagem img {
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.postLeft {
    width: 50%;
}

.postRight {
    width: 50%;
}

.imgPost{
    width: 100%;
    position: relative;
}

.excluir {
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: red;
    opacity: 75%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: all 0.3s;
}

.excluir:hover {
    opacity: 55%;
}

.voltar {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #004f44;
    opacity: 75%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.3s;
}

.voltar:hover {
    opacity: 55%;
}


#voltar {
    display: block;
}